body {
	padding-bottom: 40px;
    padding-top: 60px;
    background-color:#1a0006;
}

@font-face {
	font-family: 'awesomeFont';
	src: url('../fonts/Font.tff') format('truetype');
}

#pages {
	display: none;
}

.img {
	width: 100%;
	height: 550px;
	/*border-top: 2px solid #FFF056;
	border-bottom: 2px solid #FFF056;*/
	border-width:1px;
	border-radius: 5px;	
    border-style:solid;
    border-color: white;
}

#loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	opacity: .8;
	background-color: black;
}

.testing {
	display: block;
	position:relative;
	width:100%;
	height:80%;
	margin-top: 10%;
}

#navigation {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #00061a;
	top: 0;
	left:0;
	right:0;
	z-index: 1;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}



.caption {
	color: #FFFFFF;
}

#coverphoto {
	position:relative;
	width: 100%;
	height:100%;
}

#container1 {
    background-color:white; 
    background-image:url('/images/piano.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:center;
    height: 500px;
    margin-bottom:20px;
	color:white;
	text-align: center;
	vertical-align: middle;
}

#text {
    font-size:100px;
	z-index:100;
	position:absolute;
    left: 100px;
    right: 100px;
    top:470px;
	color:white;
	font-family: cursive;
}

ul {
	position:relative;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	font-family: sans-serif;
	font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
}

