body {
	padding-bottom: 40px;
    padding-top: 60px;
    background: -webkit-linear-gradient(left, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B);
}

@font-face {
	font-family: 'awesomeFont';
	src: url('../fonts/Font.tff') format('truetype');
}

#pages {
	display: none;
}

.img {
	width: 100%;
	height: 755px;
	/*border-top: 2px solid #FFF056;
	border-bottom: 2px solid #FFF056;*/
	border-width:2px;
	border-radius: 20px;	
    border-style:solid;
    border-color: white;
    text-align: center;
    color:white;
    font-family: 'awesomeFont';
    font-size: 20px;
    padding:5px;
}

#loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	opacity: .8;
	background-color: black;
}

.testing {
	margin-top:2px;
	display: block;
	position:relative;
	width:100%;
	height:85%;
	border-radius: 10px;
}

#navigation {
	position: fixed;
	width: 100%;
	height: 70px;
	background: -webkit-linear-gradient(left, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #27363B, #FDCEAA , #F4837D, #EB4960 , #27363B);
	top: 0;
	left:0;
	right:0;
	z-index: 1;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}



.caption {
	color: #FFFFFF;
}

#coverphoto {
	position:relative;
	width: 100%;
	height:100%;
}

#container1 {
    /*background-image:url('/images/piano.jpg');*/
    background-repeat: no-repeat;
    background-position:center;
    background-size:center;
    height: 500px;
    margin-bottom:20px;
	color:white;
	text-align: center;
	vertical-align: middle;

	background-image: linear-gradient(to right, #27363B, black , #27363B), url('/images/piano.jpg');
	background-blend-mode: screen;
}

#text {
    font-size:100px;
	z-index:100;
	position:absolute;
    left: 100px;
    right: 100px;
    top:470px;
	color:white;
	font-family: 'awesomeFont';
}

#textList {
	position:relative;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#textList1 { 
	float:left;
	position:relative;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:30%;
    border:1px solid white;
}

#leftNav {
	font-family: sans-serif;
	font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 45%;
    text-decoration: none;
}


.rightNav {
	font-family: sans-serif;
	font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    border:1px solid white;
}

.title {
	background-color:#27363B;
    display:block;
    height:30px;
    border:10px solid #27363B;
    border-style: outset;
    border-radius:10px;
    padding: 10px;
    font-size:25px;
    font-family:'awesomeFont';
}


.sheetMP3left {
	color:white;
	display:block;
	background-color:#27363B;
	float:left;
	margin-top:4px;
	margin-left:.5%;
	margin-bottom:10%;
	border-radius: 20px;
	padding:7px;
	width:43%;
}

.sheetMP3right {
	color:white;
	display:block;
	background-color:#27363B;
	float:right;
	margin-top:4px;
	margin-right:.5%;
	margin-bottom: 10%;
	border-radius: 20px;
	padding:7px;
	width:43%;
}
